@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)!</h1>
    <p><b>Ao sistema de cadastro de profissionais, a seguir algumas dicas de utilização do sistema...</b></p>
    <br />
    <p>O sistema consiste em um cadastro e gerenciamento de profissionais.</p>
    <p>Para cadastrar uma novo profissional, basta clicar em "Novo Profissional" e preencher os dados</p>
    <p>Para editar  um cadastro basta pesquisar pelo mesno e na coluna de ações clicar em "Editar" (o mesmo vale para exclusão)</p>
    <p>O sistema retornará a você um feedback caso haja alguma inconsistência no cadastro.</p>
    <br />
    <p><b>Bom, com essas dicas você está pronto para inciar, então, vamos lá?</b></p>
    <br />
    <a type="button" href="/Profissional" class="btn btn-primary">Aba de Profissionais</a>
    <br />
    <br />
    <br />
    <p><b>By. Lucas Cordeiro</b></p>
</div>
</div>
